body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(rgb(215, 214, 214),white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-container {
  background: #e9edf0;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 10 0 20px 2px rgba(77, 76, 76, 0.1);
  text-align: center;
  width: 50%;
  max-width: 600px;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.score-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.player, .computer {
  flex: 1;
}

.vs {
  font-size: 24px;
  color: #ed81d6;
  margin: 0 10px;
  font-weight: 100px;
}

#player-choice, #computer-choice {
  font-size: 50px;
}

.result {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #444;
}

.choices {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.choice {
  background: #eee;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 5px;
}

.choice:hover {
  background: #ccc;
   transform: translateY(-4px);
}